@model StreetFighter.Aplicativo.PersonagemAplicativo

@{
    ViewBag.Title = "ListarPersonagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="descricao-conteudo">
    <h1>@ViewBag.Title</h1>
</div>
<div class="conteudo-corpo">
    @{
        var personagnesListados = Model.ListarPersonagens("asdas");
        foreach(var personagem in personagnesListados)
        {
            <div class="personagens">
                <h1>@personagem.Id</h1>
                <h1>@personagem.Nome</h1>
                <form method="post" action="">
                    <button type="submit">visualizar</button>
                </form>
            </div>

        }
    }
</div>