@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>
    <div class="barra-navegacao">
        <ul class="nav">
            <li>
                <a href="http://localhost:50445/StreetFighter/Index">Inicio</a>
            </li>
            <li>
                <a href="https://www.google.com.br/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=street+fighter&tbm=nws">Notícias</a>
            </li>
            <li>
                <a href="http://localhost:50445/StreetFighter/FichaTecnica">Ficha Técnica</a>
            </li>
            <li>
                <a href="http://localhost:50445/StreetFighter/Sobre">Sobre</a>
            </li>
        </ul>
    </div>

    <div class="conteudo">
        @RenderBody()
    </div>
</body>
</html>