@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>
    <div class="barra-navegacao">
        <ul class="nav">
            <li class="links">
                <a class="referencias" href="http://localhost:50445/StreetFighter/Index">Inicio</a>
            </li>
            <li class="links">
                <a class="referencias" href="http://localhost:50445/StreetFighter/ListarPersonagens">Lista de Personagens</a>
            </li>
            <li class="links">
                <a class="referencias" href="http://localhost:50445/StreetFighter/Sobre">Sobre</a>
            </li>
        </ul>
    </div>

    <div class="conteudo">
        @RenderBody()
    </div>
</body>
</html>